@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');

html {
  font-family: 'Public Sans', sans-serif;
}

.lista-de-imagens {
  height: calc(100vh - 0.1px);
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: auto;
  gap: 15px;
  padding: 15px;
}

.imagem {
  position: relative;
  width: 100%;
  color: aliceblue;
  flex: 0 1 clamp(150px, 50%, 300px);
}

.imagem img:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imagem img {
  width: 100%;
  transition: 0.3s;
}

.imagem h3 {
  position: absolute;
  font-size: clamp(0.5rem, 1.3rem, 2.5rem);
  bottom: 40px;
  left: 15px;
  width: 80%;
}

.imagem p {
  position: absolute;
  font-size: clamp(0.3rem, 1rem, 1.5rem);
  bottom: 20px;
  left: 17px;
}